.bottomSec {
  display: grid;
  height: 350px;
}
.bottomComponent {
  overflow-y: scroll;
}
.bottomComponent::-webkit-scrollbar {
  width: 0;
}
.bottomComponent::-webkit-scrollbar-track {
  background: transparent;
}
.bottomComponent::-webkit-scrollbar-thumb {
  background: transparent;
}
