.hourly {
  text-align: center;
  width: 350px;
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;

}

.hourly::-webkit-scrollbar {
  width: 0;
}

.time-block {
  padding: 3px;
  margin-right: 10px;
  background-color: rgba(139, 156, 132, 0.384);
  border-radius: 20px;
}
