.parkButton {
  background: none;
  border: none;
  color: #ffffff;
  background-color: rgba(139, 156, 132, 0.772);
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button-container {
  padding-top: 10px;
  padding-bottom: 10px;
  
  border-radius: 20px;
  /* width:80%; */
  width: 350px;

  margin: auto;
  background-color: rgba(139, 156, 132, 0.384);
    margin-bottom: 20px;
}
