 /* Styling for container and overall layout */
 .container {
  display: flex; /* Use flexbox for positioning */
  justify-content: center;
  align-items: center;
  height: 30vh; /* Center elements within the viewport */
}

.searchButton {
  background: none;
  border: none;
  color: #ffffff;
  background-color: rgba(139, 156, 132, 0.384);
  font-size: 18px; 
  padding: 10px 20px; 
  border-radius: 5px;
  cursor: pointer;
  position: absolute; /* Position the button at the top */
  top: 20px;
}

.searchBar {
  position: absolute; /* Existing style */ 
  top: 70px;
  background-color: rgba(0, 0, 0, 0.7); 
  border-radius: 5px;
  z-index: 10; /* Ensure search bar is on top */
  
  
}

.content {
  margin-top: 5em;
  display: flex;
  flex-direction: column; /* Arrange temp and location vertically */
  align-items: center;   /* Align items horizontally to the center */
  padding: 20px; 
  z-index: 5;
  
}

.temperature {
  font-size: 72px;
  line-height: 1em; /* Adjust spacing between lines */
  margin-bottom: -10px;
}

.location {
  font-size: 24px;
}
.desc {

  font-size: 19px;
  /* margin-bottom: 2em; */
  margin-top: -30px;
 
}

.suggestions li { /* Assuming your <li> elements are within a container with the class 'suggestions' */
  list-style-type: none; /* Removes the default bullet points */
}

.suggestions { 
  list-style-type: none; /* Remove default styling */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  text-align: center; /* Center text within the list container */
  width: 100%; /* Allow list to take full width of search bar */
    /* backdrop-filter: blur(20px); */
}
