.weekly-container {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  width: 350px;
  margin: auto;
  background-color: rgba(139, 156, 132, 0.384);
}
.weekly-container ul {
  list-style-type: none;
  padding: 0;
}
.weekly-container button {
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.weekly-container button b {
  display: block;
  margin-bottom: 5px;
  color: white;
}
.weekly-container button p {
  margin: 0;
  color: white;
}
.center {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #ccc;
  border-color: #cccccc76;
}