.weekly-container{

    padding: 10px;
    border-radius: 20px;
    /* width:80%; */
    width: 350px;
    margin: auto;
    background-color:rgba(139, 156, 132, 0.384);
    

}

.weekly-container ul {
  list-style-type: none;
  padding: 0;
}

.weekly-container button {
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* .weekly-container button:hover {
  background-color: rgba(139, 156, 132, 0.384);
} */

.weekly-container button b {
  display: block;
  margin-bottom: 5px;
  color: white;
  font-size: large;
}

.weekly-container button ul {
  color: white;
}