/* .bottomSec {
    height: 150px;
  overflow-y: scroll;
} */
.bottomSec{
    display: grid;
    grid-template-rows: 2fr 8fr;
    padding: 10px;
    border: 1px solid white;
    width:80%;
    margin: auto;
    background-color:rgba(16, 49, 3, 0.281);
    height: 300px;

}

.bottomComponent {
  overflow-y: scroll;
  
}
.bottomComponent::-webkit-scrollbar {
  width: 0;
}
.bottomComponent::-webkit-scrollbar-track {
  background: transparent;
}
.bottomComponent::-webkit-scrollbar-thumb {
  background: transparent;
}


