/* .phone-screen {
  margin-top: -4rem;
  position: relative;
  width: 379px;
  height: 834px;
  border: 5px solid #000000;
  border-radius: 20px;
  overflow: visible;
} */
.Home {
  /* border-radius: 20px; */
  background-image: url("/src/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100dvh;
  display: grid;
  grid-template-rows: 1fr 5fr 4fr;
  

  /* box-shadow: 20px 20px 6px rgba(0, 0, 0, 0.3); */
}

/* .phone-widgets {
  position: absolute;
  top: 20px;
  width: calc(100% - 40px);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.phone-widgets .top-left {
  position: absolute;
  left: 20px; 
}

.phone-widgets .top-right {
  position: absolute;
  right: 20px; 
} */

/* .forecasts {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 10px);
} */
