.phone-screen {
  margin-top: -4rem;
  position: relative;
  width: 375px;
  height: 832px;
  border: 5px solid #000000;
  border-radius: 20px;
  overflow: visible;
}
.Home {
  border-radius: 20px;
  background-image: url("/src/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%;
  height: 100%; */
  box-shadow: 20px 20px 6px rgba(0, 0, 0, 0.3); /* Drop shadow */
}

.phone-widgets {
  position: absolute;
  top: 20px;
  width: calc(100% - 40px);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.phone-widgets .top-left {
  position: absolute;
  left: 20px; /* Adjust the left position as needed */
}

.phone-widgets .top-right {
  position: absolute;
  right: 20px; /* Adjust the right position as needed */
}

.forecasts {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 10px);
}

/* TOP SECTION */
.topsection {
  height: 100px;
  margin-top: 150px; /* Adjust the top margin as needed */
}

/* MID SECTION */
.midsection {
  height: 100px;
}

/* BOTTOM SECTION */
.bottomsection {
}
.bottomComponent {
  height: 250px;
  overflow-y: scroll;
}
.bottomComponent::-webkit-scrollbar {
  width: 0; /* Hide the scrollbar */
}
.bottomComponent::-webkit-scrollbar-track {
  background: transparent;
}
.bottomComponent::-webkit-scrollbar-thumb {
  background: transparent;
}
