.popup {
  border: 2px solid white;
  border-radius: 20px;
  position: fixed;
  top: 20px;
  left: 0;
  margin-left: -2px;
  /* # */
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.popup h4 {
  margin-top: 0;
  font-weight: bolder;
}

.popup button {
  position: absolute;
  top: 20px;
  margin-left: 20px;
  color: white;
  border-radius: 5%;
}

/* .popup-enter{
  transform: translateY(100%)
} */

/* .center {
  text-align: center;
  
} */

/* .testing {
 border: "2px solid green";
 padding: "10px" 
} */

.weatherInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.infoBox {
  border: 1px solid #ccc;
  padding: 10px;
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.weatherIcon {
  width: 100px;
  height: 100px;
}
