.popup {
  border: 2px solid white;
  border-radius: 20px;
  position: fixed;
  top: 20px;
  left: 0;
  margin-left: -1px;
  /* # */
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  
}
.popup h1 {
  position: auto;
  padding: 32px;
  max-width: 640px;
  color: #ffffff;
}

.popup button {
  position: absolute;
  top: 20px;
  margin-left: 20px;
color: white;
  border-radius: 5%;
}
